release/generated/*
!release/generated/weaver.toml
test/weaverOut
test/gRPCOut
test/inputs.txt
benchmark/*/*
logs.txt
tmp_logs.txt
notes.md
.TMP
cfgs
*.pyc
DELETE.txt
alloc
env/*
del.*
tmp.*
CONFIG.cfg
scripts/pod_stats.csv