[submodule "weaver-kube"]
  path="weaver-kube"
  url="https://github.com/eberkley/weaver-kube.git"
  
[submodule "weaver"]
	path = weaver
	url = https://github.com/eberkley/weaver.git
[submodule "telemetry/opentelemetry-proto"]
	path = telemetry/opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto.git
