release/generated/*
!release/generated/weaver.toml
test/weaverOut
test/gRPCOut
test/inputs.txt
benchmark/*/*
logs.txt
tmp_logs.txt
notes.md
.TMP
cfgs
*.pyc
DELETE.txt
# alloc
env/*
del.*
tmp.*
CONFIG.cfg
scripts/pod_stats.csv
cfgs_todo
cfgs_archive
src/productcatalogservice/product_gen/product_gen
docker.env
metrics_collection
inst_fp_collection
latency_parsing_test
vertical_profs
colocation_old