# A replacement for a generated CONFIG.cfg.
# Use this with for when only one specific run is needed.


# How many instances of the loadgen workers do you want?
LOADGEN_REPLICAS=1

# Max cores per OB pod
OB_CORES=1

# Max replicas per OB pod
OB_REPLICAS=1

