# A replacement for a generated CONFIG.cfg.
# Use this when only one specific run is needed.

# How many instances of the loadgen workers do you want?
LOADGEN_REPLICAS=2

# Max cores per OB pod
OB_CORES=2

# Max replicas per OB deployment
OB_REPLICAS=1

# Overrides the default in .env if defined at all. 
# If you don't want that behavior, comment the value out or don't supply it.
# Setting it to nothing (e.g. "SCHEME=") will not work correctly.
SCHEME=microservices

# Defines the number of cores allocated to each pod.
# Each fusion scheme has a set of c schemes associated with it.
# they are located in release/base/colocation/<SCHEME>.
C_SCHEME=1core

# ==================================================
# The following should be set if you are benchmarking with a *fixed* number of pods.
# If it is set, the parameters below will not do anything.
# ex: ALLOC_FILE=alloc/microservices_01_40.csv
# ==================================================
ALLOC_FILE= #alloc/microservices_01_40.csv

# ==================================================
# The following parameters set the average cpu utilization needed to scale out a replica.
# What pods are affected by each parameter can be viewed in the colocation folder
# ==================================================

# Sets the utilization needed for critical services (i.e. frontend)
CRITICAL_SCALE_UTIL=60

# Sets the utilization needed for noncritical services (i.e. )
NONCRITICAL_SCALE_UTIL=70

# Sets the utilization needed for trivial services (i.e. payment)
TRIVIAL_SCALE_UTIL=80

# Sets the utilization needed for services where the util is not set or has no other applicable parameter
FALLBACK_SCALE_UTIL=75


# ==================================================
# The following parameters set the minimum replicas of different pods.
# What pods are affected by each parameter can be viewed in the colocation folder
# ==================================================

# Sets the min pod replicas for critical services (i.e. frontend)
CRITICAL_MIN_REPLICAS=3

# Sets the min pod replicas for noncritical services (i.e. shipping)
NONCRITICAL_MIN_REPLICAS=2

# Sets the min pod replicas for trivial services (i.e. payment)
TRIVIAL_MIN_REPLICAS=1

# Sets the min pod replicas for services where the util was not set or has no other applicable parameter
FALLBACK_MIN_REPLICAS=1
