# A replacement for a generated CONFIG.cfg.
# Use this when only one specific run is needed.

# How many instances of the loadgen workers do you want?
LOADGEN_REPLICAS=2

# Max cores per OB pod
OB_CORES=2

# Max replicas per OB deployment
OB_REPLICAS=1

# Overrides the default in .env if defined at all. 
# If you don't want that behavior, commend the value out or don't supply it.
# Setting it to nothing (e.g. "SCHEME=") will not work correctly.
SCHEME=monolith